/* styles.css - Tea Shop base styles */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;    
    opacity: 0.9;
    padding: 0px;
    margin: 0px;
}

/*  Reset some default styles and Navigation styles */
nav {
    max-height: 3.13rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: black;
    top: 0;
    border-bottom: 1px solid seashell;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;
    max-width: 54.54rem;
    margin: 0 auto;
}

nav .logo img{
    max-height: 2.27rem;
    width: auto;
    padding-top: 0.454rem;
}

nav .menu {
     display:flex;
     align-items: center;
     max-height: 3.13rem;
    }

nav ul {
    display:flex;
    list-style: none;
    padding: 0;         
    justify-content: center;
    flex-direction: row;
    font-size: 1.2rem;
    
}
nav ul li {
    margin: 0 1rem;  
    
}
nav a {
    font-weight: 600;
    text-decoration: none;
    font-size: 0.9rem;
    color:seashell;

}
nav a:hover {
    color: #7a9c8e;
}

main {
    top: 4.04rem; /* Adjusted to account for the fixed nav height */
}
/* banner styles */
#banner {
    display: flex;
    flex-direction: column;
    background-image: url('../images/img-mission-background.jpg');
    background-size: cover;
    max-width: 54.54rem;
    height: 31.81rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.banner-text {
    text-align: center;
    background-color: black;
    width: 100%;
}

/* Content styles and tea of the Month */
#content {
    max-width: 45.45rem;
    margin: 0 auto;
    text-align: center;
}
.tea-of-the-month-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
 }
.tea-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.45rem;
}   
.tea-type-image {
    width: 13.63rem;
    height: 9.09rem;
}
.tea-type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Location styles */
.location-content {
    background-image: url('../images/img-locations-background.jpg');
    background-size: cover;
    background-position: center;
    max-width: 54.54rem;
    margin: 0 auto;
    text-align: center; 
    min-height: 22.72rem;   
    padding-top: 2.27rem;
    
}
.location-adress-container {
    display: flex;
    align-items: center;
    padding: 0.68rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.location-adress{
    background-color: black;
    width: 13.63rem;
    padding: 0.909rem;
}

#location h2 {
    margin-bottom: 0px;
}
#location h3 {
    padding-bottom: 0.68rem;
}
/* Footer styles */
.footer-content {
    height: 9.09rem;
    display:block;
    max-width: 54.54rem;
    text-align: center;
    margin: 0 auto;
    }

.footer-content a {
    color: seashell;
    text-decoration: none;
}
.copyright-text {
    padding: 0.909rem;
    font-size: 0.5rem;
    text-align: left;
    display:block;
    max-width: 54.54rem;
    margin: 0 auto; 
}

/* Responsive styles for medium screens */
@media screen and (max-width: 1200px) {
    .location-content {
    background-image: url('../images/img-locations-background.jpg');
    background-size: cover;
    margin: 0 auto;
    text-align: center; 
    padding-top: 2.27rem;
    }
    .location-adress-container {
        display: flex;
        align-items: center;
        margin-top: 0.68rem;
        flex-wrap: wrap;
    }    
    .location-adress{
    background-color: black;
    max-width: 100%;
    padding: 0.909rem;
    margin-top: 50px;
    }
}
/* Responsive styles for smaller screens */
@media screen and (max-width: 500px) {
    nav ul {
        display: none; /* Hide the menu on small screens */
    }
   

}