html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: white;
    text-align: center;
    background-color: #000;
}

h1 {
    font-size: 2.38rem;
    }

h2 {    
    font-size: 2rem;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
}

.download-link {
    color: aquamarine;
    text-decoration: underline;
    font-size:  0.761rem;
}
.personal-travel-guide p {
    color: grey;
}
.excursion-copyright {
   text-align: right;
   color: grey;
}
